<h1>Hondana</h1>
<p>ようこそ。<br />現在、<%= current_user.name %>としてログインしています。</p>
<div class="container">
  <div class="row">
    <%= link_to rental_path, class: 'btn btn-sm btn-default btn-icon main-button' do %>
      <%= image_tag("rental.png", alt:"Rental", size: "64x64")  %>
      貸出・返却
    <% end %>
    <%= link_to new_stock_path, class: 'btn btn-default btn-icon main-button' do %>
      <%= image_tag("new.png", alt:"Rental", size: "64x64")  %>
      新規登録 
    <% end %>
  </div>
  <div class="row">
    <%= link_to books_search_path, class: 'btn btn-sm btn-default btn-icon main-button' do %>
      <%= image_tag("search.png", alt:"Rental", size: "64x64")  %>
      蔵書検索
    <% end %>
    <%= link_to users_borrowing_list_path(current_user), class: 'btn btn-default btn-icon main-button' do %>
      <%= image_tag("list.png", alt:"Rental", size: "64x64")  %>
      貸出中リスト
    <% end %>
  </div>
</div>

