<%= form_with(model: book_info, local: true) do |form| %>
  <% if book_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_info.errors.count, "error") %> prohibited this book_info from being saved:</h2>

      <ul>
      <% book_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
