<p id="notice"><%= notice %></p>

<h1>Book Infos</h1>

<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_infos.each do |book_info| %>
      <tr>
        <td><%= book_info.isbn %></td>
        <td><%= book_info.title %></td>
        <td><%= book_info.author %></td>
        <td><%= link_to 'Show', book_info %></td>
        <td><%= link_to 'Edit', edit_book_info_path(book_info) %></td>
        <td><%= link_to 'Destroy', book_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book Info', new_book_info_path %>
