<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @book_info.isbn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book_info.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book_info.author %>
</p>

<%= link_to 'Edit', edit_book_info_path(@book_info) %> |
<%= link_to 'Back', book_infos_path %>
