<h2>蔵書検索</h2>
<div class="row">
  <p>ISBNコードを入力してください。</p>
</div>
<div class="row">
  <%= form_tag('/books/result', method: :get) do %>
    <div class="col-md-10">
      <%= text_field_tag :q %>
      <div class="row">
        <div class="col-md-4"><%= radio_button_tag :t, 'isbn' %>ISBN</div>
        <div class="col-md-4"><%= radio_button_tag :t, 'title' %>タイトル</div>
        <div class="col-md-4"><%= radio_button_tag :t, 'author' %>著者</div>
      </div>
    </div>
    <div class="col-md-2">
      <%= submit_tag "確認", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
