<h2>蔵書検索</h2>
<div class="row">
  <%= form_tag('/books/result', method: :get) do %>
    <div class="col-md-8 col-md-offset-2">
      <%= label_tag (:q) { "検索ワード" } %>
      <%= text_field_tag :q, "", class: "form-control" %>
      <%= label_tag (:q) { "検索対象" } %>
      <%= select_tag :t, options_for_select([["ISBN", "isbn"], ["タイトル", "title"], ["著者", "author"]]), class: "form-control" %>
      <%= submit_tag "確認", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

