<header class="navbar navbar-fixed-top navbar-inverse">
    <%= link_to "Hondana", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.nil? %>
          <li><%= link_to "ログイン", login_path %></li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            アカウント 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"><%= current_user.name %></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">ログアウト</a>
            </div>
          </li>
          <li><%= link_to "設定",   '#' %></li>
          <li><%= link_to "ログアウト", '#' %></li>
        <% end %>
      </ul>
    </nav>
</header>
