<ul class="nav nav-sidebar">
  <li class="active"><%= link_to "ホーム", root_path %></li>
  <li><%= link_to "貸出・返却", rental_path %></li> 
  <li><%= link_to "新規登録", new_stock_path %></li> 
  <li><%= link_to "蔵書検索", books_search_path %></li> 
  <li><%= link_to "貸出中リスト", users_borrowing_list_path(current_user)  %></li> 
</ul>
