<ul class="nav nav-sidebar">
  <li class="active"><%= link_to "ホーム", root_path %></li>
  <li><%= link_to "貸出・返却", rental_path %></li> 
  <li><%= link_to "新規登録", "#" %></li> 
  <li><%= link_to "蔵書検索", "#" %></li> 
  <li><%= link_to "貸出中リスト", "#" %></li> 
</ul>
